<ol class="chapter">
	<li class="chapter-item expanded ">
    <!-- add class="active" in a link to mark current page -->
		<a href="{{path_to_root}}index.html" tabindex="0">
			<strong aria-hidden="true">1.</strong> Introduction
		</a>
	</li>
	<li class="chapter-item expanded ">
		<a href="{{path_to_root}}basics/index.html" tabindex="0">
			<strong aria-hidden="true">2.</strong> Basics
		</a>
	</li>
	<li>
		<ol class="section">
			<li class="chapter-item expanded ">
				<a href="{{path_to_root}}basics/plotting.html" tabindex="0">
					<strong aria-hidden="true">2.1.</strong> Plotting
				</a>
			</li>
			<li class="chapter-item expanded ">
				<a href="{{path_to_root}}basics/data_manipulation.html" tabindex="0">
					<strong aria-hidden="true">2.2.</strong> Data Manipulation
				</a>
			</li>
			<li class="chapter-item expanded ">
				<a href="{{path_to_root}}basics/models.html" tabindex="0">
					<strong aria-hidden="true">2.3.</strong> Models
				</a>
			</li>
    </ol>
	<li class="chapter-item expanded ">
		<a href="{{path_to_root}}misc/but/very/far/contributors.html" tabindex="0">Contributors</a>
	</li>
</ol>